@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

$pri-col: #ccc;
$bac-col: #444;
$acc-col: #CD5C5C;

body {
    background: $bac-col;
    font-family: 'Bitter', 'serif';
    color: #ccc;
    max-width: 1024px;
    margin: auto;
    hyphens: auto;
    line-height: 1.5;
    padding: 0;
}

.banner {
    background-color: grey;
    height: 15rem;
    &__text {
        text-align: center;
        margin: auto;
        &__header {
            padding-top: 3rem;
        }
        // &__subtitle {
        // }
    }
}

.intro {
    max-width: 512px;
    margin: auto;
}

.footer {
    margin: 3rem auto 3rem auto;
    text-align: center;
}